<div>
  <div>
    <h1>
      List of your liked trips
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Discover more Beerbnbs
    </h2>

    <form action="/new_trip" method="post">

      <button>
        Let's Go
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Trip
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_liked_trips.each do |a_liked_trip| %>
      <tr>
        <td>
          <%= a_liked_trip.id %>
        </td>

        <td>
          <%= a_liked_trip.user_id %>
        </td>

        <td>
          <%= a_liked_trip.trip_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_liked_trip.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_liked_trip.updated_at) %> ago
        </td>

        <td>
          <a href="/liked_trips/<%= a_liked_trip.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
