<div>
  <div>
    <h1>
      List of your liked Beerbnbs
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Discover more Beerbnbs
    <form action="/beerme">
      <button type="submit" class="btn btn-success">
        Let's Go
      </button>
    </form>
    </h2>
  </div>
</div>

<hr>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Airbnb</th>
      <th>Bar</th>
      <th>Bar Name</th>
    </tr>
  </thead>

  <% @list_of_liked_trips.each do |a_liked_trip| %>

  <tbody>
    <tr>
      <th scope="row">
        <a>
          <img style="max-width: 225px; max-height: 150px" src="<%= Airbnb.where({ :id => Trip.where({ :id => a_liked_trip.trip_id }).at(0).airbnb_id }).at(0).photo %>" alt="airbnb.img">
        </a>
      </th>
      <td>
        <a>
          <img style="max-width: 225px; max-height: 150px" src="<%= Bar.where({ :id => Trip.where({ :id => a_liked_trip.trip_id }).at(0).bar_id }).at(0).photo %>" alt="bar.img">
        </a>
      </td>
      <td>
        <%= Bar.where({ :id => Trip.where({ :id => a_liked_trip.trip_id }).at(0).bar_id }).at(0).name %>
      </td>
      <td>
        <a type="button" class="btn btn-info btn-sm" href="/liked_trips/<%= a_liked_trip.id %>">
          Show details
        </a>
      </td>
      <td>
        <a href="/delete_liked_trip/<%= a_liked_trip.id %>">
          <button type="button" class="btn btn-danger btn-sm">
             Delete this Beerbnb
          </button>     
        </a>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>

<hr>
