<div>
  <div>
    <h1>
      Liked trip #<%= @the_liked_trip.id %> details
    </h1>

    <div>
      <div>
        <a href="/liked_trips">
          Go back
        </a>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col">
        <p style="text-align:center;"><img style="max-width: 450px; max-height: 300px" src="<%= @beerbnb_air.photo %>" alt="airbnb.img"></p>
    </div>
    <div class="col">
        <p style="text-align:center;"><img style="max-width: 450px; max-height: 300px" src="<%= @beerbnb_bar.photo %>" alt="bar.img"></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
          <p style="text-align:left;">Price: $<%= @beerbnb_air.price %>0 </p>
    </div>
    <div class="col">
          <p style="text-align:left;">Name: <%= @beerbnb_bar.name %></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
          <p style="text-align:left;"> Location: <%= @beerbnb_air.location %> </p>
    </div>
    <div class="col">
          <p style="text-align:left;"> Location: <%= @beerbnb_bar.location %></p>
    </div>
  </div>
  <div class="row">
    <div style="text-align:left;" class="col">
      <a href="<%= @beerbnb_air.website %>"> Airbnb Details </a>
    </div>
    <div style="text-align:left;" class="col">
      <a href="<%= @beerbnb_bar.website %>"> Bar Details </a>
    </div>
  </div>
</div>

<hr>

  <div>
    <a href="/delete_liked_trip/<%= @the_liked_trip.id %>">
      <button type="button" class="btn btn-danger">
        Delete this Beerbnb
      </button>     
    </a>
  </div>