<div>
  <div>
    <h1 >
      Want to save this Beerbnb?
    </h1>
  </div>
</div>

<hr>

<!-- Equal width cols, same on all screen sizes -->
<div class="container">
  <div class="row">
    <div class="col">
        <p style="text-align:center;"><img style="max-width: 450px; max-height: 300px" src="<%= @beerbnb_air.photo %>" alt="airbnb.img"></p>
    </div>
    <div class="col">
        <p style="text-align:center;"><img style="max-width: 450px; max-height: 300px" src="<%= @beerbnb_bar.photo %>" alt="bar.img"></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
          <p style="text-align:left;">Price: $<%= @beerbnb_air.price %>0 </p>
    </div>
    <div class="col">
          <p style="text-align:left;">Name: <%= @beerbnb_bar.name %></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
          <p style="text-align:left;"> Location: <%= @beerbnb_air.location %> </p>
    </div>
    <div class="col">
          <p style="text-align:left;"> Location: <%= @beerbnb_bar.location %></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
          <p style="text-align:left;"> <a href="<%= @beerbnb_air.website %>"> Airbnb Details </p>
    </div>
    <div class="col">
          <p style="text-align:left;"> <a href="<%= @beerbnb_bar.website %>"> Bar Details </p>
    </div>
  </div>

</div>


<div>
  <div>

    <div class ="text-center">
      <form action="/insert_liked_trip" method="post">
        <button type="button" class="btn btn-success">Yes</button>
      </form>
      <form action="/new_trip">
        <button type="button" class="btn btn-danger">No</button>
      </form>
    </div>
  </div>
</div>
