<div>
  <div>
    <h1>
      List of all airbnbs
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new airbnb
    </h2>

    <form action="/insert_airbnb" method="post">
      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price">
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website">
      </div>

      <div>
        <label for="photo_box">
          Photo
        </label>

        <input type="text" id="photo_box" name="query_photo">
      </div>

      <button>
        Create airbnb
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Location
        </th>

        <th>
          Price
        </th>

        <th>
          Website
        </th>

        <th>
          Photo
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_airbnbs.each do |an_airbnb| %>
      <tr>
        <td>
          <%= an_airbnb.id %>
        </td>

        <td>
          <%= an_airbnb.location %>
        </td>

        <td>
          <%= an_airbnb.price %>
        </td>

        <td>
          <%= an_airbnb.website %>
        </td>

        <td>
          <%= an_airbnb.photo %>
        </td>

        <td>
          <%= time_ago_in_words(an_airbnb.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_airbnb.updated_at) %> ago
        </td>

        <td>
          <a href="/airbnbs/<%= an_airbnb.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
